*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.preload{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opcacity 10sec ease;
}
section img{
	height: 200px;
}

.preload-finish{
	opacity: 0;
	pointer-events: none;
}

.soulborne{
	animation: soulborne 2s ease infinite alternate;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 400;
    background-color:rgba(25,25,25,1);
}

a {
    font-family: 'Raleway', sans-serif;
    color: aqua;
    font-weight: 400;
}

div {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 600;
}

.hero {
    background-color: black;
    background-image: url("../images/cover.png");
    background-repeat: repeat;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: (960*3)px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@keyframes soulborne{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}